
@import url("http://fonts.googleapis.com/css?family=Lato:300,700,700italic&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Raleway:300,700&subset=latin,latin-ext");

/*Header */
.st-header{
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.sub-header{
    padding-top: 10px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    border-bottom: 1px solid rgb(156, 149, 149,0.3);
}

.nav-bar{
    background-image: url(../images/background.jpg);
    background-size: cover;
    padding-top: 10px;
}

div.sub-header-bck1 h2{
    font-size: 16px;
    font-family: Lato;
}

div.sub-header-bck2{
    padding-left: 15%;
    font-family: Lato;
}

div.sub-header-bck2 h2{
    font-size: 16px;
}

div.nav-login a{
    padding-right: 15px;
    color: black;
    font-family: Lato;
    font-weight: 600;
}

div.nav-login a:hover{
    color: white;
}

div.header-content{
    padding-left: 30%;
    
}

#search{
    padding-top: 20px;
}

#search input[type="text"]{
    width: 90%;
    height: 60px;
    border-radius: 5px;
    padding: 15px;
    margin: 0; 
}



.header-content-search h3{
    font-size: 20px;
    letter-spacing: -1px;
    padding-top: 20px;
    padding-left: 30px;
    font-family: Lato;
    font-weight: 900;
}

.header-content-search h4{
    font-size: 15px;
    letter-spacing: -1px;
    padding-top: 10px;
    padding-right: 40px;
    text-align: center;
    font-family: Lato;
    font-weight: 600;
}

a:hover {
    color: #2ac790;
}

.category{
    margin-top: 50px;
    height: 100px;
    background: white;
    border-radius: 300px 300px 0 0;
    line-height: 100px;
    font-family: Lato;
    font-size: 20px;
    padding-top:10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.category i{
    padding-left: 80px;
}

.caption{
    padding-left: 110px;
    margin-top: 0px;
    line-height: 0px;
    color: black;
    display: block;
    word-spacing: 50px;
}

#share-options a{
    text-align: center;
    padding-right: 20px;
    color: grey;
}

.modal{
    position: absolute;
    z-index: 1000;
    padding: 30px;
    background-color: rgb(226, 211, 154);
}

.modal-close {
    cursor: pointer;
}

#share-options {
    background-color: rgb(219, 210, 75);
    width: 400px;
    height: 300px;
    text-align: center;
    border: 8px solid #ebe1d0;
    margin-left: 40%;
}

#message {
    margin: 15px 0 15px 0;
    opacity: 0.9;
} 

button.modal-close {
    background-color: #ed8e6c;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 7px 10px 9px 10px;
    margin-left: 48%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
  
  button.modal-close:hover {
      background-color: #ed612f;
}


/* Slideshow container */
.slideshow-container {
  padding-top: 50px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

div.mySlides img{
    height: 500px;
    width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1000s;
    animation-name: fade;
    animation-duration: 1000s;
}
  
  @-webkit-keyframes fade {
    from {opacity: .8}
    to {opacity: .9}
}
  
  @keyframes fade {
    from {opacity: .8}
    to {opacity: .9}
}

#gallery {
	text-align: center;
	max-width: 1020px;
	margin: 0 auto;
}

#gallery img {
	width: 300px;
	height: 150px;
	border-radius: 3px;
	border: 8px solid #fff;
	margin: 10px 20px;
    -webkit-box-shadow: 0 0 3px 3px #ebebeb;
    box-shadow: 0 0 3px 3px #ebebeb;
	float: left;
}
    
#buttons{
    margin-top:30px;
    margin-left: auto;
}

#buttons{
    text-align: center;
}

button {
    background-color: #d7d7d7;
    border: none;
    padding: 3px 10px 4px 10px;
    border-radius: 4px;
    color: #333;
    font-family: 'Karla', sans-serif;
    font-size: 100%;
}

    
button:hover, button.active {
    background-color: #ccb800;
    color: #fff;
    cursor: pointer;
}


div.results-wrapper{
    background:rgb(250, 250, 250);
    width: 520px;
    border-left: 2px solid rgb(202, 202, 202,0.5);
    border-right: 2px solid rgb(202, 202, 202,0.5);
}

div.results-wrapper p{
    margin: 0;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    font-family: Lato;
    font-size: 15px;
    border-bottom: 2px solid rgb(202, 202, 202,0.5);
}

div.results-wrapper p:hover{
    background:rgb(197, 196, 196);
    cursor: pointer;
}

